<%- contentFor( 'body') %>

<div>
    <h3>Sobre:</h3>
    <p>Esta aplicação foi feita para testar os conhecimentos dos alunos para a disciplina de Autoração Multimídia II, ministrada pelo professor Wellington Wagner F. Sarmento. </p>
    <p>Universidade Federal do Ceará.</p>
    <p>O código desta aplicação está sob licença  <a href="https://github.com/wwagner33/first-app2/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
    <p>O código desta aplicação encontra-se no endereço <a href="https://github.com/DawnBits/first_app" target="_blank" rel="noopener noreferrer">https://github.com/DawnBits/first_app</a></p>
    <p class="font-weight-bold">Autoria: Isadora Bruno Leite.
    Coautores: Amanda Ribeiro de Lima, Mattheus Del Vianple Curacy Oliveira, Wellington Wagner F. Sarmento.
    </p>
</div>