<%- contentFor( 'body') %>

<div class="table-responsive-xl ">
    <h2>Usu치rios Cadastrados</h2>
    <p>Lista de usu치rios Cadastrados no sistema.</p>            
    <table class="table table-hover bg-light" id="list">
    </div>

    <div class="table-responsive-x1">
        <h3>Usu치rios Cadastrados</h3>
        <p>Lista de usu치rios cadastrados no sistema.</p>
    </div>