<%- contentFor( 'body') %>

<div>
    <h2>Página de Cadastro de Galãs do Tumblr</h2>
    <p>Para efetuar o cadastro, interaja, com as abas ao lado.</p>
    <img src="./images/nagito.png" alt="Nagito Komaeda do anime Danganronpa 3.">
</div>
