<%- contentFor( 'body') %>

<div class= "jumbotron">
    <p>Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
    <p>Para efetuar o cadastro, interaja, com as abas ao lado.</p>
</div>